

$meyership-blue:  #1068AE; 
$meyership-green: #79BF08;
$meyership-lightgray: #F0F0F0;
$meyership-dark-blue-gray: #4f5b6b;

$margin-small: 15px;
$margin-medium: 30px;
$margin-large: 60px;
 



/**
 * 1.0 Repeatable Patterns
 * ----------------------------------------------------------------------------
 */

html {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;

} 

body {
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;    
    background-color: white;
    font-family: helvetica, arial, sans-serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

article {

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

}

small, .font_small {font-size: 0.833em;}

.mb-s {
    margin: 0px 0px 10px 0px;
}
.mb-m {
    margin: 0px 0px 30px 0px;
}
.mb-xl {
    margin: 0px 0px 45px 0px;
}
/* Margins */

/*bottom*/
.margin-bottom-small{
    margin-bottom: $margin-small;
}
.margin-bottom-medium{
    margin-bottom: $margin-medium;
}
.margin-bottom-large{
    margin-bottom: $margin-large;
}

/*Right*/
.margin-right-small{
    margin-right: $margin-small;
}
.margin-right-medium{
    margin-right: $margin-medium;
}
.margin-right-large{
    margin-right: $margin-large;
}

/**
 * Alignments
 */

.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
    margin: 0.4em 1.6em 1.6em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
    margin: 0.4em 0 1.6em 1.6em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
    clear: both;
    margin-top: 0.4em;
    margin-bottom: 1.6em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
    margin-bottom: 0.6em;
}


/**
 *  Captions
 */

.wp-caption {
    margin-bottom: 1.6em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin: 0;
}

.wp-caption-text {
    color: #707070;
    color: rgba(51, 51, 51, 0.7);
    font-family: "Noto Sans", sans-serif;
    font-size: 12px;
    line-height: 1.5;
    padding: 0.5em 0;
}



/**
 * 0.0 Header
 * ----------------------------------------------------------------------------
 */

.navbar-default {
    background-color: transparent;
}

#header {
    width: 100%;
	position: fixed;
    top:0;
	margin-right: auto;
	margin-left: auto;
	z-index: 2;
	overflow: hidden;
}

.header-bg {
	background-color: #ffffff;
}


#site-title-link {
    color: #000000;
}

#site-logo {
        float: left;
        display: block;
        width: 42px;
        height: 42px;
}



#site-title {
    font-weight: normal;
}

/*
* — Minor Section Heading —
*/


#blue {
	background-color: blue;
}

#content {
	float: left;
	min-height: 100%;
}


/*
* 	Hero Image 
*/


#hero-image {
	width: 100%;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	z-index: -2;
	overflow: hidden;

	img {
		display: block;
		float: left;
		width: 100%;
		height: auto;
	}
}

#product-menu {
	float: left;
	padding: 20px 0px 0px 0px;

	li {
		float: left;
		margin: 0px 10px 10px 0px;
	}
}

#info-menu {
	float: left;
	padding: 20px 0px 0px 0px;

	li {
		float: left;
		margin: 0px 10px 10px 0px;
	}
}


/**
 * 0.0 page-title
 * ----------------------------------------------------------------------------
 */

#page-title {


    .page-title-text {
        display: inline-block;
        line-height: 1em;
        padding: 10px 15px 8px 15px;
        color: #ffffff;
        width: auto;
        background-color: $meyership-blue;
    }
}


/**
 * Page - Full width content
 * ----------------------------------------------------------------------------
 */

#normal-content {
    padding-top: 30px;
    padding-bottom: 30px;

}

#full-width-content {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0px;
  background-color: #ffffff;

}



/**
 * Frontpage 
 * ----------------------------------------------------------------------------
 */



.frontpage-section-heading {
    float: left;
    width: 100%;

    h2 {
        margin: 0px;
        padding: 0px 0px 30px 0px;
        text-align: left;
        font-size: 2.074em;
    }
}

.frontpage-section {
    margin-bottom: 45px;
}


/**
 * Frontpage - News
 * ----------------------------------------------------------------------------
 */


.frontpage-news-item {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;  
}

.frontpage-news-item-visual {
    float: left;
    padding-bottom: 15px;

    width: 340px;
    height: 250px;

    img {
        float: left;
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

}

.frontpage-news-content-link {
        float: left; 
        display: block;
        width: 100%;    

    .frontpage-news-heading {
        margin-top: 0px;
        padding-top: 0px;
        color: $meyership-blue;
    }

    .frontpage-news-heading:hover {
        color: #cccccc;
    }

    .frontpage-news-excerpt {
        color: #000000;
    }

    .frontpage-news-excerpt:hover {
        color: #cccccc;
    }
}

.frontpage-news-content-link:hover {
    text-decoration: none;
}

.frontpage-news-date {
        float: left; 
        display: block;
        width: 100%; 
        color: #cccccc;
        text-align: right;
        font-size: 0.8em;
}



/**
 * Frontpage - Services 
 * ----------------------------------------------------------------------------
 */

 .fp-service-item {
    float: left;
    width: 100%;
    margin-bottom: 45px;
 }


.fp-service-visual {
    float: left;
    padding-bottom: 15px;

    img {
        float: left; 
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

}

.fp-service-thumbnail-link {
    float: left; 
    display: block;
    width: 100%;
}

.fp-service-text-left {
    text-align: left;
}

.fp-service-text-right {
    text-align: right;
}

.fp-service-heading-link {
    color: $meyership-blue;
    text-decoration: none;

    h2 {
        margin: 0px;
    }
}

.fp-service-heading-link:hover {
    color: #cccccc;
    text-decoration: none;
}

.fp-service-excerpt-link {
    color: #000000; 
}

.fp-service-excerpt-link:hover {
    color: #cccccc;
    text-decoration: none;
}

.frontpage-services {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;  
}

.frontpage-services-single {
    float: left;
    width: 100%;  
    margin-bottom: 30px;
}

.frontpage-services-single:hover {
    opacity: 0.7;
}



.frontpage-services-single-visual {
    float: left; 
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 170px;
    position: relative;
    background-color: #000000;


    img {
        float: left; 
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 50%;
    }

    .frontpage-services-thumbnail-link {
        float: left; 
        display: block;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        overflow: hidden;
    }

}

.frontpage-services-content {
    float: none;
    width: auto;
    overflow: hidden;
    padding-top: 30px;
}

.frontpage-services-content-link {
        float: left; 
        height: 100%;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;

        h2 {
            color: #ffffff;
            position: absolute;
            bottom: 0;
            margin: 0px 15px 15px 15px;
            padding: 10px 10px 6px 10px;
            font-size: 1em;
            font-weight: lighter;
            background-color: #000000;
            display: inline-block;
        }


}

.frontpage-services-content-link:hover {
    
}







.frontpage-services-single-heading {
    margin-top: 0px;
    padding-top: 0px;
}

.frontpage-services-item-link {
    float: left;
    padding: 15px;
    display: block;
    width: 100%;
    margin: 0px;
    text-decoration: none;
    color: #000000;


    h2 {
        color: $meyership-blue;
    }

    p {
        color: #000000;
    }

}

.frontpage-services-item-link:hover {
    background-color: #e5e5e5;
    text-decoration: none;

}

.frontpage-services-item-thumbnail {
    float: left;
    width: 25%;
    padding-right: 15px;

    img {
    float: left; 
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    } 
}

.frontpage-services-item-info {
    width: auto;
    overflow: hidden;
    
    h2 {
        margin-top: 0px;
    }
}

/**
 * Frontpage - Collaborators
 * ----------------------------------------------------------------------------
 */

.frontpage-collaborators-list {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;     
}

.frontpage-collaborators-item {

   img {
    float: left; 
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    }
}

.frontpage-collaborators-item-link {
    float: left;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.frontpage-collaborators-item-link:hover {
    opacity: 0.7;
}


/**
 * Page - Staff 
 * ----------------------------------------------------------------------------
 */

 .staff-page-heading {
    float: left;
    width: 100%;

    h1 {
        margin: 0px;
        padding: 0px 0px 30px 0px;
        text-align: left;
        font-size: 2.074em;
    }
 }

 .staff-list {
    margin: 0px;
    float: left;
    width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    list-style: none; 
    padding-bottom: 30px;
 }

 .staff-list-link {
    float: left;
    padding-top: 15px;
    padding-bottom: 75px;
    width: 100%;
    display: block;
    color: #000000;
 }

 .staff-list-link:hover{
    background-color: #f3f3f3;
    text-decoration: none;
    color: $meyership-blue;
    cursor: pointer;
 }

.staff-list-fixed-link {
    position: absolute;
    display: block;
    background-color: $meyership-green;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin: auto;
    color: #ffffff;
    text-decoration: none;
    bottom: 50px;
    height:34px;
    width:70px;
    left:50%;
    margin-left:-35px;
}

.staff-list-fixed-link-inner {
    display: block;
    width: 70px;
    margin: auto
}

.staff-list-fixed-link:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;

}

.staff-list-visual {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}

 .staff-list-thumbnail-crop {
    width: 160px;
    margin: auto;
    display: block;
    overflow: hidden;
    border-radius: 50%;

        img {
            float: left; 
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
        }
 }

 .staff-list-content {
    float: left;
    width: 100%;
 }

 .staff-list-person-heading {
    padding: 0px;
    margin: 0px;
    text-align: center;
 }
 .staff-list-person-text {
    padding: 0px;
    margin: 0px;
    font-size: 0.9em;
    text-align: center;
 }


/**
 * 0.0 ˍContent
 * ----------------------------------------------------------------------------
 */


 #content-header-heading {
    float: left;
    display: block;
    line-height: 1em;
    font-size: 1em;
    padding: 10px 15px 8px 15px;
    margin: 10px 0px 15px 0px;
    color: #ffffff;
    width: auto;
    background-color: $meyership-blue;

    h2 {
        font-size: 1em;
        margin: 0px;
        padding: 0px;
    }

 }

 #content-header-frontpage {
    float: left;
    display: block;
    line-height: 1em;
    padding: 20px 15px 16px 15px;
    margin: 15px 0px 15px 0px;
    color: #ffffff;
    width: auto;
    font-size: 1.77em;
    font-weight: lighter;
    background-color: $meyership-dark-blue-gray;
     display: inline-block;

    h2 {
    font-size: 1.44em;
    margin: 0px;
    padding: 0px;
   
    }

 }



/**
 * Service menu 
 * ----------------------------------------------------------------------------
 */

 .news {

 }
 
 .service-navbar {
    float: left; 
    width: 100%;
 }

 .service-navbar-toggle {
    float: left; 
    width: 100%;
    position: relative;

    .toggle-heading {
        float: left;
        padding: 15px 0px 10px 0px;
        color: #888;
    }

    .navbar-toggle {
      position: relative;
      float: left;
      margin-right: 15px;
      padding: 9px 10px;
      margin-top: 8px;
      margin-bottom: 8px;
      background-color: transparent;
      border: 1px solid #ddd;
      border-radius: 4px
    }

    .icon-bar {
        background-color: #888;
    }

 }

 .news-nav-heading {
    float: left; 
    width: 100%;
    border-bottom: 1px solid #cccccc;

    h3 {
        margin: 0px;
        padding: 15px 0px 15px 0px;
    }

 }

 .news-nav {
    float: left;
    width: 100%;
    margin: 0px 0px 30px 0px;
    padding: 0px;
    list-style: none;  
 }

.news-nav-item {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
 }

 .news-nav-item-link {
    float: left;
    width: 100%;
    display: block;
    line-height: 1em;
    margin: 0px;
    padding: 15px 10px 10px 10px;
    border-bottom: 1px solid #cccccc;
    text-decoration: none;
 }

  .news-nav-item-link:hover {
    background-color: #cccccc;
    color: #000000;
    text-decoration: none;
 }



/**
 * Author - Single person
 * ----------------------------------------------------------------------------
 */

.person-list {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.person-list-visual {
    float: left;
    width: 200px;
    margin-right: 30px;
}

.person-image {
    float: left;
    border-radius: 50%;
    overflow: hidden;

    img {
       width: 100%; 
       height: auto;
       display: block;
    }
    
}

.person-info-container {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.person-list-content {
    float: none; 
    overflow: hidden;
    width: auto;

}
.person-list-content-person {
    float: left;
    width: 100%;
    display: block;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 15px 30px 15px;
}    

.person-list-content-person-heading {
    margin: 0px;
    padding: 0px;  
}

.person-list-content-person-text {
    margin: 0px;
    padding: 0px;      
}

.person-info-list {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;   
}

.person-info-list-item {
    float: left;
    position: relative;
    width: 100%;
    height: 74px;
    border-bottom: 1px solid #e6e6e6;
}

.person-info-list-item-link {
    float: left;
    width: 100%;
    height: 74px;
    display: block;
    padding: 10px 15px 10px 15px;
    color: #000000;
    background-repeat: no-repeat;
    background-position: center right;
}

.person-info-list-item-no-link {
    float: left;
    width: 100%;
    height: 74px;
    display: block;
    padding: 10px 15px 10px 15px;
    color: #000000;
    background-repeat: no-repeat;
    background-position: center right;
}

.person-info-list-item-fixed-link {
    position: absolute;
    display: block;
    background-color: $meyership-green;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    right: 15px;
    top: 20px;
    width: 50px;
    bottom: 20px;
    color: #ffffff;
    text-decoration: none;
}

.person-info-list-item-fixed-link:hover {
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;

}

.icon-phone {
    background-image: url('img/icon-phone-green.png');
}

.icon-phone:hover {
    background-image: url('img/icon-phone-black.png');
}

.icon-email{
    background-image: url('img/icon-email-green.png');
}

.icon-email:hover{
    background-image: url('img/icon-email-black.png');
}

.person-info-list-item-link:hover {
    text-decoration: none;
    color: $meyership-blue;
    background-color: #e6e6e6;
}

.person-info-list-item-heading {
    margin: 0px;
    padding: 4px 0px 5px 0px;

}

.person-info-list-item-text {
    margin: 0px;
    padding: 0px;   
    line-height: 1em;
    font-size: 0.9em;
}




/**
 * 0.0 ˍSidebar
 * ----------------------------------------------------------------------------
 */

.sidebar {
    padding: 30px 15px 30px 15px;
    min-height: 600px;
}

#sidebar-right{
    background-color: $meyership-lightgray;  
    overflow: hidden;

    
    .content{
        float: left;
        width: 100%;
    }



    .contact-person{

        float: left;

       .left-col{
            width: 120px;
            float: left;
            color: black;
        }
        .right-col{
            width: 90px;
            float: left;

        }

        img{
            border: none;
            float: left;
            width: 120px;

        }
        button {
            margin-top: 15px;
            color:white;
            border-radius: 50%;
            width: 90px;
            height: 90px;
            border: none;
            background-color: $meyership-green;
        }
        .name{
            float: left;
            clear: both;
            margin: 30px  0 0 0;

        }
        .title{
            float: left;
            clear: both;
            margin: 10px  0 0 0;
        }

    }
}


/**
 * Single - Services 
 * ----------------------------------------------------------------------------
 */

 .sidebar-person-heading {
        float: left;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 25px;
    
    h2 {
    margin-top: 0px;
    padding-top: 0px;
    }

 }

 .sidebar-person {
        float: left;
        margin-bottom: 30px;
        position: relative;
        width: 175px;
        height: 250px;
 }

 .person-sidebar-link {
    float: left;
    padding: 15px;
    width: 100%;
    display: block;
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
 }

 .person-sidebar-link:hover {
    color: $meyership-blue;
    text-decoration: underline;
    background-color: #cccccc;
 }

  .person-sidebar-color-link {
    float: left;
    bottom: 0;
    line-height: 1em;
    font-size: 12px;
    position: absolute;
    display: block;
    padding: 10px 15px 8px 15px;
    margin: 15px 0px 15px 0px;
    color: #ffffff;
    background-color: $meyership-green;
    cursor: pointer;   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 }

.person-sidebar-color-link:hover {
text-decoration:none;
color: #ffffff;
background-color: #000000; 
 }

 .sidebar-person-visual {

    img {
    float: left; 
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    }
 }

 .sidebar-person-thumbnail-crop {
    float: left;
    width: 120px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
 }

 .sidebar-person-content {
    float: left;
    width: 100%;
 }

 .sidebar-person-name {
    margin-top: 0px;
    padding-top: 0px;
    line-height: 1em;
    margin-bottom: 0.25em;
 }

 .sidebar-person-title {
    margin: 0px;
    padding: 0px;
    line-height: 1em;
    font-size: 0.9em;
 }


/**
 * Archive news 
 * ----------------------------------------------------------------------------
 */

 .news-archive-thumbnail-link {
    float: left;
    width: 30%;

    img {
        float: left; 
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

 }



 .news-archive-single-content {
    float: left;
    width: 70%;
    display: block;
    padding-left: 15px;

    h2 {
        padding: 0px;
        margin: 0px 0px 5px 0px;
        float: none;
    }

    p {
        float: none;
    }

    .news-archive-heading-link {
        color: $meyership-blue;
    }

    .news-archive-heading-link:hover {
        color: #cccccc;
        text-decoration: none;
    }

 }

 .news-archive-single-container {
    float: left;
    width: 100%;
    padding-bottom: 30px;
 }

 .news-archive-meta {
    float: left;
    width: 100%;
    display: block;
    color: #B3B3B3;
    font-size: 0.8em;
    margin: 0px 0px 5px 0px;
 }

 .news-archive-excerpt-link {
    color: #000000;
 }
 .news-archive-excerpt-link:hover {
    color: #cccccc;
    text-decoration: none;
 }

 /**
 * Sidebar-menu 
 * ----------------------------------------------------------------------------
 */

.sidebar-menu-container {
    float: left;
    width: 100%;    
}

.sidebar-menu-header {
    float: left;
    width: 100%;   

    margin-bottom: 15px;
}

.sidebar-menu-title {
    float: left;
    margin: 0px;
    padding: 15px 0px 15px 0px;
}

.sidebar-menu-toggle {
    float: right;
    display: none;
    outline: 0;
    border: 0px;
    margin: 10px 0px 10px 0px;
    padding: 4px 7px 7px 7px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid #BDBDBD;
}

.sidebar-menu-toggle:hover {
    background-color: #ffffff;
}

.toggle-button-stroke {
    float: left;
    width: 100%;
    height: 3px;
    background-color: #cccccc;
    margin: 5px 0px 0px 0px;
}

.sidebar-menu-container ul {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;     
}

.sidebar-menu-container li {
    float: left;
    width: 100%;
}

.sidebar-menu {
float: left;
width: 100%;
 margin: 0px 0px 30px 0px;
}

.sidebar-menu ul {
float: left;
width: 100%;
margin: 0px;
padding: 0px;
list-style: none;  
}

.sidebar-menu li {
float: left;
width: 100%;
margin: 0px;
padding: 0px; 
overflow: hidden;
}

.sidebar-menu a {
    float: left;
    width: 100%;
    display: block;
    line-height: 1em;
    margin: 0px 0px 0px 0px;
    padding: 14px 10px 10px 10px;
    border-bottom: 1px solid #cccccc;
    text-decoration: none;
}

.sidebar-menu a:hover {
    background-color: #cccccc;
    color: #ffffff;
    text-decoration: none;
}

.submenu-toggle ul {
    display: block;
    margin-bottom: 30px;
}

.submenu-toggle .caret {
    margin-left: 8px;
}

.display-submenu ul {
    display: block;
    margin-bottom: 30px;
}

.dropdown-menu-heading {
    float: left;
    width: 100%;
    display: block;
    line-height: 1em;
    margin: 0px;
    font-size: 1.2em;
    padding: 14px 10px 10px 10px;
    border-bottom: 1px solid #cccccc;
    text-decoration: none;
}

.sidebar-menu-container .sidebar-menu {
    display: block;
}

.display-sidebar-menu .sidebar-menu {
    display: block;
}


/**
 * 0.0 Footer
 * ----------------------------------------------------------------------------
 */

 #footer-outer {
    float: left;
    width: 100%;
    height: 300px;
    z-index: 5;
 }

 .footer-bg {
    background-color: #e5e5e5;
 }


#footer-partner-heading {
    color: #000000;
}

#footer-partner-links {
    float: left;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    padding: 15px 15px 0px 15px;
    background-color: #eeeeee;

    ul {
        float: left;
        width: 100%;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    li {
        float: left;
        margin: 0px 15px 15px 0px;
    }

    a {

        float: left;
        display: block;
        color: #ffffff;
        background-color: $meyership-blue;
        padding: 10px 15px 10px 15px;
        line-height: 1em;
        text-decoration: none;
    }

    a:hover {
     background-color: #cccccc;
     color: #000000;
    }
}

#footer-copyright {
    text-align: center;
    color: #656565;
    font-size: 0.8em;
}


/*
* contactform7
*/

.author-sidebar {
    
    h3 {
        float: left;
        width: 100%;
        margin: 0px;
        padding: 0px 0px 5px 0px;
    }

    p {
        font-size: 0.9em;
    }
}

.wpcf7 {

      form{


        p {
            float: left;
            width: 100%;
        }

        .wpcf7-not-valid-tip {
            float: left;
            width: 100%;            
        }

        br{
          margin-bottom: 10px;

        }
        input,textarea{
          float: left;
          border-radius: 5px;
          border: solid #cccccc 1px;
          padding: 10px;
          line-height: 20px;
          margin: 10px 0 10px 0;
          width: 100%;
          resize: none; 
        }
        .wpcf7-submit {
          border-radius: 0;
          background-color: $meyership-green;
          color: white;
          border: none;
          padding: 10px 20px 10px 20px;
          width: 100px;
        }

        .wpcf7-response-output {
            float: left;
            width: 100%;
            margin: 0px;
            padding: 15px;
        }
        .your-name{

        }
      }


  strong{
    font-weight: bold;

  }
  ul{
    float: left;
    margin-bottom: 1.3em;
  }
  li{
  }

}



/* STICKYFOOTER - DEPENDENDT */

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -300px; /* the bottom margin is the negative value of the footer's height */
    position: relative;

}

@media (min-width: 768px) {
  #wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #wrapper {
    width: 1170px;
  }
}



#main {
    height: 100%;
}

.push {
    height: 300px; /* height + Must be same height as footer height */
    clear: both;
}
 
#content-header {
    float: left;
    width: 100%;
}

#content-header-inner {
    float: left;
    width: 100%;  
}

#content-header {
    height: 350px; /* height + Must match Top of sidebar */
    background-color: transparent;
}

#fixed-menu-spacer {
    margin-top: 63px;
}

#footer {
    height: 300px;
}

#footer-inner{
    height: 282px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
    padding: 8px;
}




/* STICKYFOOTER - Sidebars */

#sidebar {
    width: 33.33333333%;
    position: relative;
    background-color: #F0F0F0;
    min-height: 50px;
}

#sidebar-background {
    width: 33.33333333%;
    height: 100%;
    min-height: 100%;
    z-index: -20;
    position: absolute;
    clear: both;
    background-color: #F0F0F0;
}

.sidebar-background-right {
    right: 0;
}

#no-sidebar {
    float: left;
    width: 1px;
    position: absolute;
    top: 350px;
    bottom: 300px;
    background-color: transparent;
    z-index: -10;
}

.sidebar-left {
    left: 0;
    float: left;
}

.sidebar-right {
    right: 0;
    float: right;
}

#sidebar-padding {
    float: left;
    width: 100%;
    padding: 30px;
}

/* STICKYFOOTER - Content */

#content {
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
}

.content-left {
    float: left;
}

.content-right {
    float: right;
}

#content-sidebar {
    width: 66.66666667%;
    height: 100%;
    position: relative;
    bottom: 0px;
    background-color: #ffffff;  
}

#content-no-sidebar {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

#content-padding {
    padding: 30px;
}
.post-content{
  table{
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;


      tbody{
        tr{
          border-bottom: solid gray 1px;
        }
        tr:first-child{
          font-weight: bold;
          border-bottom: none;
          font-size: 12px;

          td{
            border-right: none;
            padding: 0;
          }
        }
        tr:nth-child(2){
          border-bottom: none;
          font-weight: bold;
          td{
            border-right: none;
          }
        }
        tr:last-child{
          border: none;
        }

        td{
          border-right: solid gray 1px;
          text-align: center;
          padding: 10px;
          white-space: pre;
        }
        td:first-child{
          text-align: left;
        }
        td:last-child{
          border: none;
        }
      }
  }
}
.wp-post-image{
  margin: 0 auto;
  display: block;
}
.gallery-item{

  img{
    margin:0 auto;
  }

}






