@media (min-width: 1200px) {

body {
}

#main {
	margin-top: 66px;
}


#content-header-big {
    height: 280px;
}

#content-header-small {
	min-height: 50px;
}



/**
 * 0.0 Page Title
 * ----------------------------------------------------------------------------
 */

/**
 * 3.0 Header 
 * ----------------------------------------------------------------------------
 */

 #menu-max-width {
 	float: none;
 	margin: auto;
 	max-width: 1170px;
 }

#site-logo-container {
	float: left;
}

#site-logo-link {
	float: left;
	display: block;
	padding: 10px 10px 10px 15px;
	margin: 0px;
}

#site-logo {
		float: left;
		display: block;
		width: 42px;
		height: 42px;
}

#site-title-container {
	float: left;
	display: inline-block;
	overflow: hidden;
}

#site-title-link {
	float: left;
	display: block;
	padding: 20px 0px 21px 0px;
	margin: 0px;		
}

#site-title {
	font-size: 18px;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}

.navbar-nav > li > a {
	padding-top: 20px;
	padding-bottom: 20px;
}

/*
* === HEADER ===
*/
#hero-image {
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
	width: 100%;
	height: 340px;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	z-index: -2;
	overflow: hidden;
}

/*
* — Branding 
*/




} // @media 
