@media (min-width: 768px) and (max-width: 991px) {

body {
}

#main {
	margin-top: 55px;
}

#content-header-big {
    height: 225px;
}


/**
 * 3.0 Header
 * ----------------------------------------------------------------------------
 */

   #menu-max-width {
      float: none;
      margin: auto;
      max-width: 750px;
  }


#site-logo-container {
	float: left;
}

#site-logo-link {
	float: left;
	display: block;
	padding: 10px 7px 10px 15px;
	margin: 0px;
}

#site-logo {
		float: left;
		display: block;
		width: 33px;
		height: 33px;
}

#site-title-container {
	float: left;
	display: inline-block;
	overflow: hidden;
}

#site-title-link {
	float: left;
	display: block;
	padding: 17px 0px 18px 0px;
	margin: 0px;
}

#site-title {
	font-size: 16px;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}






/*
* === HEADER ===
*/


#hero-image {
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
	width: 100%;
	height: 270px;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	z-index: -2;
	overflow: hidden;
}



#product-menu, #info-menu {
	display: none;
}

.side-by-side-fill-height{
    display: block;
    float: left;
}

/**
 * Single - Services 
 * ----------------------------------------------------------------------------
 */

 .person-sidebar-link {
    background-position: right center;
 }

 .sidebar-person-thumbnail-crop {
    width: 60px;
    margin-bottom: 0px;
 }

 .sidebar-person-content {
 	float: none;
 	width: auto;
 	overflow: hidden;
 	padding: 10px 45px 10px 10px; 
 }


/**
 *  Footer
 * ----------------------------------------------------------------------------
 */

 #footer-outer {
    margin-top: -60px;
    padding-top: 75px;
 }

 #footer-partner-heading {
 	text-align: center;
 }

 #footer-partner-links {


	li {
		float: left;
		width: 100%;
	}

	a {
		float: left;
		line-height: 1em;
		width: 100%;
	}
}


} // @media
