@media (max-width: 767px) {

body, html {
	height: auto;
	min-height: auto;
}

#content-header-big {
    height: 240px;
}






/**
 *  Content headers 
 * ----------------------------------------------------------------------------
 */

#content-header-inner {
    float: left;
    width: 100%;  
    padding-left: 15px; 
    padding-right: 15px; 
}

/**
 * Sidebar 
 * ----------------------------------------------------------------------------
 */

 .sidebar {
 	min-height: 50px;
 }

.side-by-side-fill-height {
	float: left;
	width: 100%;
	display: block;
}

/**
 * Sidebar-menu - toggle
 * ----------------------------------------------------------------------------
 */

.sidebar-menu-toggle {
    display: block;
}

.submenu-toggle ul {
    display: none;
    margin-bottom: 15px;
}

.display-submenu ul {
    display: block;
    margin-bottom: 30px;
}

.sidebar-menu-container .sidebar-menu {
    display: none;
}

.display-sidebar-menu .sidebar-menu {
    display: block;
}

.dropdown-menu-heading {
    cursor: pointer;
}


/**
 * Page - Staff 
 * ----------------------------------------------------------------------------
 */

 .staff-list {
    width: 100%;
    padding: 0px;
 }

 .staff-list-link {
 	padding: 10px 100px 10px 15px;
 	height: 120px;
 	overflow: hidden;
 }

 .staff-list-link:hover {
 	
 }

 .staff-list-fixed-link {
    position: absolute;
    display: block;
    background-color: $meyership-green;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    margin: auto;
    color: #ffffff;
    text-decoration: none;
    top: 0px;
    height:34px;
    width:70px;
    left:auto;
    right: 15px;
    margin-left: 0px;
}

.staff-list-fixed-link-inner {
    display: block;
    width: 70px;
    margin: auto
}

.staff-list-visual {
	float: left;
	width: 45px;
	padding: 0px;
	margin-right: 15px;
}

.staff-list-thumbnail-crop {
	width: 45px;
	margin-bottom: 15px;
}



.staff-list-content {
	float: none;
}

.staff-list-person-heading {
	text-align: left;
	padding-top: 5px;
}

.staff-list-person-text {
	text-align: left;
}


/**
 * Author - Single person
 * ----------------------------------------------------------------------------
 */

 .person-list-visual {
 	float: left;
 	width: 100%;
 }

 .person-image {
 	width: 120px;
 	margin-bottom: 15px;
 }

 .person-list-content {
  	float: left;
 	width: 100%;	
 }

.person-list-content-person {
	padding: 15px;
}

/**
 * 0.0 Page Title
 * ----------------------------------------------------------------------------
 */

#page-title {

    .page-title-text {
        margin: 15px 0px 170px 0px;
    }
}




#hero-image {
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
	width: 100%;
	height: 270px;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	z-index: -2;
	overflow: hidden;
}


/**
 * 3.0 Header
 * ----------------------------------------------------------------------------
 */

#site-logo-container {
	float: left;
}

#site-logo-link {
	float: left;
	display: block;
	padding: 15px 7px 15px 10px;
	margin: 0px;
}

#site-logo {
		float: left;
		display: block;
		width: auto;
		height: 24px;
}

#site-title-container {
	float: left;
	display: inline-block;
	overflow: hidden;
}
#site-title-link {
	float: left;
	display: block;
	padding: 17px 0px 18px 0px;
	margin: 0px;
}

#site-title {
	font-size: 16px;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}

 #footer-partner-heading {
 	text-align: center;
 }

#footer-partner-links {


	li {
		float: left;
		width: 100%;
	}

	a {
		float: left;
		line-height: 1em;
		width: 100%;
	}
}


/**
 * Single - Services 
 * ----------------------------------------------------------------------------
 */
  .sidebar-person{
    height: 150px;
  }

 .person-sidebar-link {
    background-position: right center;
 }

 .sidebar-person-thumbnail-crop {
    width: 60px;
    margin-bottom: 0px;
 }

   .person-sidebar-color-link {
 
  }

 .sidebar-person-content {
 	float: none;
 	width: auto;
 	overflow: hidden;
 	padding: 10px 45px 10px 10px; 
 }

/**
 * Archive news 
 * ----------------------------------------------------------------------------
 */

 .news-archive-thumbnail-link {
    float: left;
    width: 100%;
    padding-bottom: 15px;
 }

 .news-archive-single-content {
    float: left;
    width: 100%;
    display: block;
    padding-left: 0px;
 }


/**
 *  Footer
 * ----------------------------------------------------------------------------
 */




/* STICKYFOOTER - DEPENDENDT */

#main {
	height: auto;
}

#wrapper {
    min-height: auto;
    height: auto !important;
    height:  auto;
    margin: auto; /* the bottom margin is the negative value of the footer's height */
    position: relative;

}

.push  {
	height: 0px;
}

#content-header {
    height: 275px; /* height + Must match Top of sidebar */
    background-color: transparent;
}

#sidebar {
	float: left;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    background-color: #F0F0F0;
}

#sidebar-padding {
    padding: 15px;
}

#no-sidebar {
    float: left;
    width: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: transparent;
    z-index: -10;
}

#content-sidebar {
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #ffffff;  
}

#content-no-sidebar {
    float: left;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

#content-padding {
    padding: 15px;
}

.content-sidebar-left {
    margin-left: 0px;
}

.content-sidebar-right {
    margin-right: 0px;
}


  .post-content{
    table{
      width: 100%;
      margin-bottom: 25px;
      margin-top: 25px;


      tbody{
        td{
          padding: 0;
        }
      }
    }
  }

  #footer {
	float: left;
	width: 100%;
	height: auto;
 }

 #footer-inner {
 	float: left;
	width: 100%;
	height: auto;
 }


} // @media
