@media (min-width: 768px) and (max-width: 991px) {

body {
}

#main {
	margin-top: 55px;
}

#content-header-big {
    height: 225px;
}


/**
 * 3.0 Header 
 * ----------------------------------------------------------------------------
 */

   #menu-max-width {
      float: none;
      margin: auto;
      max-width: 750px;
  }

#site-logo {
		float: left;
		display: block;
		width: 28px;
		height: 28px;
}

#site-title {
	float: left;
	font-size: 20px;
	line-height: 20px;
	padding: 13px 10px 13px 10px;
	margin: 0px;
}


#page-title {

    .page-title-text {
        margin: 15px 0px 170px 0px;
    }
}



/*
* === HEADER ===
*/


#hero-image {
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
	width: 100%;
	height: 270px;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	z-index: -2;
	overflow: hidden;
}



#product-menu, #info-menu {
	display: none;
}

.side-by-side-fill-height{
    display: block;
    float: left;
}




} // @media
