@media (min-width: 1200px) {

body {
	background-color: DarkOrchid;
}

}



/*
* === HEADER ===
*/

#hero-image {
	width: 100%;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	z-index: -2;
	height: 320px;
	overflow: hidden;

	img {
		display: block;
		float: left;
		width: 100%;
		height: auto;
	}
}