@media (max-width: 767px) {

body {
	background-color: Azure;
}



/*
* === HEADER ===
*/

#hero-image {
	width: 100%;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	z-index: -2;
	height: 390px;
	overflow: hidden;

	img {
		display: block;
		float: left;
		width: 100%;
		height: auto;
	}
}



/*
* — Branding 
*/

#branding {
	min-height: 33px;
}

#logo {
	float:left;

	img {
		float: left;
		display: block;
		width: 33px;
		height: 33px;
	}
}

#site-title {
	float: left;
	font-size: 15px;
	padding: 0px;
	line-height: 0px;
	margin: 16px 0px 16px 8px;
}

#product-menu, #info-menu {
	display: none;
}





} // @media 