@media (min-width: 768px) and (max-width: 991px) {

body {
	background-color: Beige;
}








/*
* === HEADER ===
*/

#hero-image {
	width: 100%;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	z-index: -2;
	height: 390px;
	overflow: hidden;

	img {
		display: block;
		float: left;
		width: 100%;
		height: auto;
	}
}

/*
* — Branding 
*/

#branding {
	min-height: 44px;
}

#logo {
	float:left;

	img {
		float: left;
		display: block;
		width: 55px;
		height: 55px;
	}
}

#site-title {
	float: left;
	font-size: 18px;
	padding: 0px;
	line-height: 0px;
	margin: 26px 0px 26px 8px;
}

#product-menu, #info-menu {
	display: none;
}





} // @media 