@media (min-width: 768px) {

body {
	background-color: Beige;
}


}





/*
* === HEADER ===
*/

#hero-image {
	width: 100%;
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	z-index: -2;
	height: 390px;
	overflow: hidden;

	img {
		display: block;
		float: left;
		width: 100%;
		height: auto;
	}
}